.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero h1,
.hero h2,
.hero h3,
.hero h4,
.hero h5,
.hero h6,
.hero p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero.no-image * {
  color: var(--text-color);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}

.hero .picture {
  display: none;
}


.hero2 {
  display: grid;
  grid-template-columns: 2fr 1fr; /* left: 2/3, right: 1/3 */
  min-height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* Left column - background image */
.hero2 > div:first-child {
  background-image: url('YOUR_BACKGROUND_IMAGE_URL_HERE');
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

/* Right column - red overlay with text */
.hero2 > div:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: rgb(166 29 27 / 90%);
  padding: 32px;
  color: #fff;
  min-height: 400px;
}

.hero2 h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin: 0;
  line-height: 1.1;
}
