
@font-face {
  font-family: Halant;      
  src: url('../fonts/halant-500-normal.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: Lato;      
  src: url('../fonts/lato-700-normal.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: Lato;      
  src: url('../fonts/lato-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: Halant;      
  src: url('../fonts/halant-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: Halant;      
  src: url('../fonts/halant-600-normal.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Glyphicons Halflings";      
  src: url('../fonts/glyphicons-halflings-normal-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
